.booking-modal-content {
    height: 500px;

    .booking-madal-header {
        height: 30%;
    }

    .booking-madal-body {
        height: 40%;
    }

    .booking-madal-footer {
        height: 30%;
    }
}